{#

        Generates an interactive API console based on a URL to an OpenAPI Specification file (json format) in the package
  Example:
        {snippet 'package/snippets/openapi_console.html', pkg=pkg %}

#}

{# At the present time, assume there is only one openapi spec url. #}
{% set openApiSpecUrl = h.get_openapi_specs_for_package(pkg.id)[0] or None %}
{% if openApiSpecUrl %}

<h3>API Console</h3>

<div>
  <iframe src="/bcdc_openapi_console.html?url={{openApiSpecUrl.openapi_spec_url}}" width="100%" height="800" style="border: 1px solid #eeeeee"></iframe>
</div>

{% endif %}
